@font-face {
    font-family: Roboto-Light;
    src: url(roboto/Roboto-Light.ttf)
}

@font-face {
    font-family: Comfortaa;
    src: url(Comfortaa-Light.ttf)
}

body {
    font-family: Roboto-Light;
    margin: 0px;
    width: 100%;
    max-height: 100%;
    user-select: none;
}

#container {
    outline: 2px dotted red;
    display: table;
    //max-width: 100%;
    //max-height: 100%;
    margin: 0px auto;
    white-space: nowrap;
    //object-fit: fill;
}

#board {
    display: inline-block;
    //outline: 2px dotted #23cb1b;
    width: 100%;
    //height: 100%;
    aspect-ratio: 1 / 1;
}

#board-canvas {
    //background-color: #ffbaa1;
    //outline: 1px dashed gray;
    width: 100%;
    height: 100%;
    object-fit: fill;
    //max-height: 85vh;
    //max-width: 85vh;
    
    display: none;
}

#controls {
    font-family: "Comfortaa";
    display: block;
    vertical-align: top;
    //outline: 2px dotted #23cb1b;
}

#num-panel {
    //background-color: #cccbbe;
    text-align: left;
    margin-top: 20px;
    //display: table;
    width: 100%;
    //outline: 1px solid #3f7ecc;
}

#solving-writing-mode {
    color: white;
    background-color: #de2b6d;
    padding: 5px 0px;
    border-radius: 0px 0px 10px 10px;
}

.writing-mode-elem-active {
    outline: 3px solid #00ffd0;
}

#solving-mode-types {
    display: inline-block;
    margin-right: 20px;
    border-spacing: 2px 0px;
}

#solving-mode-number {
    background: url("images/type-of-solving-number.jpg");
    
}
#solving-mode-central {
    background: url("images/type-of-solving-central.jpg");
    //border-radius: 10px 0px 0px 10px;
}
#solving-mode-corner {
    background: url("images/type-of-solving-coner.jpg");
    //border-radius: 0px 10px 10px 0px;
    //outline: 3px solid #bbbbbb;
}

.writing-mode-elem, .select-mode-elem {
    width: 38px;
    height: 38px;
    //outline: 1px solid #ff006a;
    background-size:contain !important;
    //margin: -3px;
    display: table-cell;
}

#numpad {
    //border-spacing: 0px;
    //outline: 1px solid red;
    text-align: left;
    width: 100%;
    display: block;
    //table-layout: fixed;
}

.num {
    display: inline-block;
    background-color: #5f613f;
    //margin: 10px;
    width: calc( 100% / 11);
    //height: 40px;
    vertical-align:middle;
    text-align: center;
    //padding: 10px 5px;
    color: white;
    aspect-ratio: 1 / 1;
}

#num-zero {
    background: url("images/trash.jpg");
    background-size: contain;
    display: inline-block;
    width: calc( 100% / 11);
    
}

#num-all {
    background: url("images/all-candidates.jpg");
    background-size: contain;
    display: inline-block;
    width: calc( 100% / 11);
}

#controls-row-1 {
    margin: 20px 0px;
    width: 100%;
}

#select-mode-one {
    background: url("images/select-mode-one.jpg");
}

#select-mode-multi {
    background: url("images/select-mode-multiple.jpg");
}

#select-mode-all {
    background: url("images/select-mode-all.jpg");
}

#select-modes {
    display: inline-block;
    margin-right: 20px;
    border-spacing: 6px 0px;
}

.select-mode-elem-active {
    outline: 3px solid #ff8d00;
}